This is a repository for Coralis an ecommerce platform

ARCHITECTURE AND CODE INSTRUCTIONS:
1. The entire codebase should be in Typescript
2. The store data comes from Shopfiy
3. All data fetching must happen on server side using server actions
4. All data should be strictly typed, if there isn't a type available, you must create one
   by referecing Shopify data strucutres


